
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
    background-color: #0c0b0b;
    color: #111010;
    line-height: 1.5;
  }

  main {
    max-width: 960px;
    margin: 2rem auto;
  }
   
  .askim {
    flex: 1;
    margin-right: 2rem;
    color: rgb(248, 13, 170);
  }
  .askimh {
    flex: 1;
    margin-right: 2rem;
    color: rgb(12, 243, 32);
  }
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #494040;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2rem;
  }
  
  .hero-text {
    flex: 1;
    margin-right: 2rem;
    color: #ebdfdf;
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  
  .message {
    font-size: 1.5rem;
    text-align: justify;
    line-height: 2rem;
    color: #ebdfdf;
  }
  
  .coffee-image {
    width: 50%;
    height: auto;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  audio::-moz-media-controls {
    display: none !important;
  }
  
  audio::-ms-media-controls {
    display: none !important;
  }
  
  audio::-webkit-media-controls {
    display: none !important;
  }
  
  audio::media-controls {
    display: none !important;
  }
  